[aria-label="GUILD_SETTINGS"] {
    .tierHeaderUnlocked-1OpOLf, .tierHeaderLocked-30MLlO {
        background-color: var(--background-tertiary);
    }
    .tierBody-1d3UiS {
        background-color: var(--background-secondary);
    }

    .auditLog-1NVAY0 {
        border-color: var(--background-tertiary);
        background-color: var(--background-secondary);
    }
    .changeDetails-1kMZqI {
        background-color: var(--background-tertiary);
    }
}