.scroller-3X7KbA {
    .folder-241Joy,
    .expandedFolderBackground-1kSAf6 {
        background-color: var(--background-secondary-alt);
    }
    .folder-241Joy:hover {
        background-color: var(--background-secondary);
    }
}
.noIcon-3gSX9V {
    background-color: var(--background-secondary);
}