.chat-2ZfjoI {
    .newMessagesBar-1hF-9G {
        background-color: hsla(var(--accent-brand));
    }
    // dividers
    .divider-IqmEqJ.isUnread-3Lojb- {
        border-top-color: hsla(var(--accent-brand));
        .content-3spvdd {
            color: hsla(var(--accent-brand));
        }
        .unreadPill-3nEWYM {
            background-color: hsla(var(--accent-brand));
        }
        .unreadPillCapStroke-1nE1Q8 {
            fill: hsla(var(--accent-brand));
            color: hsla(var(--accent-brand));
        }
    }
    // context wrapper
    .wrapper-2vIMkT {
        background-color: var(--background-secondary-alt);
    }
}