:root {
  /* [ THEME INFO ] */
  --current-version: "1.0.0";
  /* [ BASE ACCENTS ] */
    /* [ BLUE ] */
    --accent-blue: 222, calc(var(--saturation-factor, 1)*91%), 61%;
    /* [ GREEN ] */
    --accent-green: 111, calc(var(--saturation-factor, 1)*32%), 49%;
    --accent-hovered-green:111, calc(var(--saturation-factor, 1)*30%), 40%;
    /* [ RED ] */
    --accent-red: 357, calc(var(--saturation-factor, 1)*87%), 58%;
    --accent-hovered-red: 357, calc(var(--saturation-factor, 1)*77%), 48%;
  /* [ BASE TEXT ] */
  --text-link: hsla(var(--accent-blue));
}